.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightcoral;
}
.b {
    color: black;
    border-radius: 200px;
    box-shadow: 10px 5px 5px rgba(0.3, 0, 0, 0.3);
    inline-size: 50px;
    block-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(128, 176, 240);
}
.div1 {
    text-align: center;
}
.div2 {
    border: solid black 2px;
    text-align: center;
} 
.button1 {
    background-color:  rgb(128, 176, 240);
    border-radius: 12px;
    box-shadow: 7px 5px 5px rgba(0.3, 0, 0, 0.3);

}
.div3 {
    text-align: center;
    margin-top: 5px;
    border: solid black 2px;
}
.div4 {
    border: solid black 2px;
}
.clear-button {
    background-color: rgb(128, 176, 240);
    border-radius: 12px;
    box-shadow: 7px 5px 5px rgba(0.3, 0, 0, 0.3);
}
.t {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 600;
}